<center>
	<h1>WORD GUESS</h1>
<br>
<br>
	<h2>Word Guess huh? Pretty generic. Why not just call it Hangman?</h2>
	<h2>What do you mean offensive? I'm sure the only thing I'll be offended by</h2>
    <h2>Is the ability of these people to guess a simple word.</h2>
    <h3>Aaaaaaanywho,  <%= player_name%> enter your super-secret word below.</h3>
<br><br>

<form method="post" action="setup">
	<input type="password" name="secret_word"  autofocus="autofocus" required>
	<input type="submit"><br><br><br></center>
</form>