<center>
	<h1>Oh God...a new game? What's this one called?</h1>
	<h2>Word Guess? How's that work? Sounds like Hangman to me!</h2>
	<h3>What do you mean offensive? I'm sure the only things I'll be offended by</h3>
    <h4>Are the words these people come up with.</h4>
    <h5>Aaaaaaanywho, if you want to play enter a word below.</h5>
<br><br>
<form method="post" action="setup">
	<input type="password" name="secret_word"  autofocus="autofocus" required>
	<input type="submit"><br><br><br>
</form>