<center><h1>WORD GUESS</h1>
<br>
<br>
<h1>So, here's a new game to occupy a few minutes of your meaningless existence</h1>
<br>
<br>
<h2>Enter the name of the player who will be creating our secret word below</h2>       

<form method="post" action="player_name">
    <input type "text" name = "players">
<br>
<br>
<input type="submit"></center>
</form>